<!-- messages.ejs -->

<section class="table-responsive-lg mt-3">
    <table class="table table-hover ">
        <h1 class="mt-3 mb-3"><%= title %></h1>
        <thead class="thead-dark">
                <tr>
                    <th scope="col">Tunnus</th>
                    <th scope="col">Lähettäjä</th>
                    <th scope="col">Aihe</th>
                    <th scope="col">Viesti</th>
                </tr>
        </thead>
        <tbody">
                <% for(var i=0; i < messages.length; i++) { %>
                    <tr >
                        <td><%= messages[i].id %></td>
                        <td><%= messages[i].sender %></td>
                        <td><%= messages[i].topic %></td>
                        <td><%= messages[i].message %></td>
                    </tr>
                <% } %>
        </tbody>
    </table>
</section>
